main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package {
    width: 80%;
    background: #d5ffdc;
    border: #0e4f1f solid 4px;
    border-left: none;
    margin: 1rem 0;
    position: relative;
    overflow: hidden; /* any elements that go out of the package will be cropped*/
}

.plan-badge {
    position: absolute; /* like fixed it takes the element out of the flow and positions it related to the parent, if there is a parent element with a position property. Otherwise it is positioned in relation to the html element.*/
    top: 0;
    right: 0;
    margin: 0;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    transform-origin: center; /* around which point we want to rotate */
    width: 12rem;
    text-align: center;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
    animation: move-up 300ms ease-out forwards;
}

.plan-tile {
    text-decoration: none;
    display: block; /* the anchor tag will fill the entire section, so no matter where we click in the section it will still be link */
    color: inherit;
    padding: 2rem;
}

.plan-name {
    color: black;
}

.plan-feature {
    color: #858585;
}

.plan-description {
    background: white;
    border: solid 1px #0e4f1f;
    color: #0e4f1f;
    padding: 1rem;
    font-size: 1.2rem;
    /* font-family: 'Roboto', sans-serif; */
    /* text-shadow: 2px 2px 20px gray; */
    /* text-decoration: underline red; */
    /* font-variant: small-caps; */
    /* font: italic small-caps  700 1.2rem 'Roboto', sans-serif; */
    /* font Shorthand: font-style font-varian font-weight font-size font-family */
}

.clear-fix {
    clear: both;
}
#plus {
    background: rgba(214, 255, 220, 0.95);
}

#free{
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: #0e4f1f solid 4px;
    border-right: none;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .plan-name {
    color: white;
}

#premium .plan-feature {
    color: rgb(145, 145, 145);
}

@media (min-width: 40rem) {
    main {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .package {
        border-left: #0e4f1f solid 4px;
    }

    #free {
        border-right: #0e4f1f solid 4px;
    }
    
    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}

@keyframes move-up {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1rem);
    }
}